// Parts

@media (max-width: 768px){
    .hidden_tab{
        display: none;
    }
}
@media (max-width: 425px){
    .primary-btn {
        width: 200px;
        font-size: 11px;
        padding: 9.5px 0 6.5px;
    }
    .sec-btn {
        line-height: 19px;
        font-size: 11px;
    }
    .nav-icon {
        width: 25px;
    }
    .hidden_mob{
        display: none;
    }
    
}



// Parts

// Forms

@media (max-width: 425px){
    .form-input {
        padding: 7px 20px;
        font-size: 10px;
        margin-bottom: 25px;
    }
    .form-input-submit {
        width: 100%;
    }
    .block-contact-wrp {
        padding: 40px 72px 50px;
    }
    .form-modal-content {
        padding: 54px 41px 30px;
        border-radius: 7px;
    }
    .form-pop-dialog {
        width: 90%;
        margin: 0 auto;
    }
    .form-modal__name_padd {
        padding-bottom: 25px;
    }
    .form-modal__name {
        line-height: 30px;
        font-size: 24px;
    }
    .form-modal-content img{
        max-width: 100%;
        height: auto;
    }
}
@media (max-width: 360px){
    .form-modal-content {
        padding: 46px 10px 20px;
    }
}

// Main page

@media (min-width: 1441px){
    .accordion {
        height:1020px;
    }
    .team-idividual-line{
        position: absolute;
        top: -11%;
        right: 0;
        width: 85%;
        z-index: 9;
    }
    .main-title_padd-team {
        padding-bottom: 35px;
    }
    .individual-wraper_bg{
        top: -130px;
    }
    
}

@media (max-width: 1366px){
    .team-idividual-line{
        top: -8.5%;
    }
    .main-title_padd-team {
        padding-bottom: 65px;
    }
    .team-idividual_bird img {
        width: 65%;
    }
    .main-menu_padd {
        padding-top: 80px;
    }
}
@media (max-width: 1280px){
    .burger {
        left: 20px;
    }
    .team-idividual-line {
        top: -8%;
    }
    .dividual-item__btn {
        margin: 30px auto 0px;
    }
    .main-description-block_bird img {
        width: 70%;
    }
    .team-idividual_bird img {
        width: 60%;
    }   
    .accordion-block_decore-b {
        bottom: -8px;
    } 
    .accordion-block_decore-t {
        top: -3px;
    }
}

@media (max-width: 1024px){
    .team-idividual-line_mob{
        display: block;
    }
    .team-idividual-line_desc{
        display: none;
    }
    .main-header li:nth-child(5) , .main-header li:nth-child(6){
        display: none;
    }
    .main-video-block video {
        height: 570px;
    }
    .main-header {
        height: 93px;
    }
    .main-header ul {
        display: none;
    }
    .dividual-item__btn {
        margin: 45px auto 0;
    }
    .team-idividual-line {
        top: -6.7%;
        right: 1.5%;
    }
    .accordion {
        height: 730px;
    }
    .menu-wrp {
        padding-left: 70px;
        padding-top: 40px;
    }
}

@media (max-width: 768px){
    .align-right_mob{
        text-align: right;
    }
    .burger {
        left: 4%;
    }
    .team-idividual-line {
        top: -5.6%;
        left: 30px;
    }
    .col-team {
        width: calc(50% - 2rem);
    }
    .individual-wraper_bg {
        top: -80px;
    }
    .description-numb__item {
        width: 120px;
        height: 120px;
        font-size: 45px;
        margin: 0 auto;
    }
    .description-numb__item span {
        font-size: 12px;
    }
    .description-numb__item sup {
        font-size: 6px;
    }
    .description-numb__text {
        font-size: 20px;
    }
    .description-numb__text::first-letter{
        font-size: 40px;
        padding-bottom: 30px;
        margin-top: -17px;
    }
    .description-numb_line img {
        width: 200px;
    }
    .description-numb_line2 {
        left: 47%;
    }
    .idividual-mg_mob{
        display: block;
        margin: 0 auto;
    }
    .idividual-mg_desc{
        display: none;
    }
    .main-title_padd-team{
        padding-bottom: 50px;
    }
    .main-title_padd-idiv {
        padding-bottom: 50px;
    }
    .dividual-item__btn {
        margin: 0 auto;
    }
    .main-video-block video{
        display: none;
    }
    .video-block-poster_tab{
        display: block;
    }
    .menu-wrp {
        padding-left: 70px;
        padding-top: 150px;
    }
}

@media (max-width: 425px){
    .description-numb__item {
        width: 70px;
        height: 70px;
        font-size: 26px;
    }
    .description-numb__item span {
        font-size: 8px;
    }
    .description-numb__item sup {
        font-size: 4px;
    }
    .description-numb_line {
        display: none;
    }
    .description-numb__text::first-letter{
        font-size: 18px;
        padding-bottom: 30px;
        margin-top: -7px;
    }
    .description-numb__text {
        font-size: 10px;
    }
    .description-numb__text_padd {
        padding-top: 20px;
    }
    .description-text-wrp {
        padding-bottom: 77px;
    }
    .main-description-block_padd {
        padding-top: 120px;
        padding-bottom: 15px;
    }
    .main-title {
        font-size: 30px;
    }
    .main-description-block_bird {
        position: absolute;
        left: 0;
        top: -35px;
    }
    .team-idividual-line {
        display: none;
    }
    .description-text_border:before {
        height: 200%;
    }
    .main-title_padd {
        padding-bottom: 42px;
    }
    .description-numb__item span {
        padding-top: 11px;
        padding-left: 0;
    }
    .accordion ul li {
        width: 100%;
        height: 20%;
    }
    .accordion ul:hover li:hover {
        width: 100%!important;
        height: 60%!important;
    }
    .accordion ul:hover li {
        width: 100%!important;
        height: 8% !important;
    }
    .accordion ul li {
        display: block;
    }
    .accordion__name {
        font-size: 24px;
        transform: rotate(0deg);
        width: 100%; 
        top: 41%;
    }
    .main-video-block__title {
        font-size: 24px;
    }
    .main-video-block__btn {
        bottom: 18%;
    }
    .main-video-block__title {
        bottom: 33%;
    }
    .accordion-block_decore-t {
        top: -24px;
    }
    .back, .front {
        min-height: 238px;
    }
    .back .inner2 span, .front .inner span {
        font-size: 14px;
    }
    .inner {
        padding: 12px 0;
    }
    .inner2 {
        top: 25px;
        padding: 0 15px;
    }
    .back .inner2 p {
        line-height: 16px;
        font-size: 10px;
    }
    .back .inner2 span {
        display: block;
        padding-bottom: 14px;
    }
    .sec-btn-team_padd {
        margin: 30px auto 0;
        display: table;
    }
    .logo img {
        width: 57px;
    }
    .team-idividual_bird {
        top: 36%;
    }
    .individual-wraper_bg {
        top: -45px;
    }
    .main-header {
        height: 56px;
    }
    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 42px;
        margin-top: -36px;
    }
    .nav-icon {
        margin-left: 0;
    }
    .main-title_padd-idiv {
        padding-bottom: 40px;
    }
    .idividual-item__name_padd {
        padding-bottom: 26px;
    }
    .idividual-item__name {
        font-size: 20px;
    }
    .idividual-item__list-item {
        font-size: 16px;
    }
    .idividual-item__list {
        padding-bottom: 28px;
    }
    .dividual-item__btn {
        margin: 60px auto 0;
    }
    .copy-right {
        line-height: 20px;
        font-size: 9px;
        padding: 12px 0 29px;
    }
    .idea {
        line-height: 19px;
        font-size: 8px;
        padding: 12px 0 30px;
    }
    .social_mob {
        position: absolute;
        top: 35px;
    }
    .social {
        padding-top: 5px;
    }
    .idividual_padd {
        padding-bottom: 57px;
    }
    .description-text{
        font-size: 14px;
    }
    .description-numb__text_padd {
        width: 67px;
    }
    .video-block-poster_tab {
        min-height: 480px;
        object-fit: cover;
    }
    .accordion ul li div p {
        top: 35%;
        bottom: auto;
        font-size: 14px;
        width: 90%;
    }
    .accordion ul:hover li:hover div h2 {
        top: 24%;
    }
    .menu-wrp {
        padding-left: 75px;
        padding-top: 60px;
    }
    .main-menu__img {
        display: none;
    }
    .menu-wrp li {
        padding: 9.5px 0;
    }
    .menu-wrp a {
        font-size: 24px;
    }
    .menu-wrp a:hover {
        line-height: 39px;
        font-size: 24px;
        padding-left: 30px;
    }
    .menu-wrp a:before {
        left: 10px;
    }
    
    
}

@media (max-width: 375px){
    .main-description-block_bird {
        top: -5px;
    }
    .individual-wraper_bg {
        top: -38px;
    }
    .main-description-block_bird {
        top: -20px;
    }
    .idea span {
        font-size: 6px;
    }
}
@media (max-width: 360px){
    .description-numb__text_padd {
        padding-left: 3px;
    }
    .description-numb__item {
        width: 60px;
        height: 60px;
        font-size: 25px;
    }
    .description-text_border:before {
        left: -15px;
    }
    .main-title_padd {
        padding-bottom: 25px;
    }
    .accordion-block_decore-t {
        top: -18px;
    }
    // .top-header [class*="col"] {
    //     flex: 100%;
    //     max-width: 100%;
    //     text-align: left;
    // }
    .col-team {
        width: calc(100% - 2rem);
    }
    .back, .front {
        min-height: 290px;
    }
    .inner2 {
        top: 30%;
    }
    .team-idividual_bird {
        top: 52%;
    }
    .top-header__item-text_padd {
        padding-left: 0;
    }
    .top-header__item-text {
        font-size: 9.4px;
    }    
}
@media (max-width: 320px){
    .individual-wraper_bg {
        top: -34px;
    }
    .copy-right {
        font-size: 8px;
        letter-spacing: 0.8px;
    }
    .top-header__item-text {
        font-size: 8.4px;
    }  
    .menu-wrp {
        padding-left: 40px;
        padding-top: 25px;
    } 
}

// Main page

// About us

@media (min-width: 1441px){
    .slider-first-block .slick-slide img {
        display: block;
        height: auto;
        width: 100%;
    }
    .slider-first-block .slick-next {
        bottom: 21%;
    }
    .about-video-wrp {
        height: 1100px;
        width: 57%;
    }
    .video-block {
        height: 1100px;
        padding-top: 175px;
    }
    .multi-section_deco {
        top: -200px;
        width: 75%;
    }
    .block-rewiev-slider_p {
        padding-top: 240px;
    }
    .block-rewiev {
        background-size: cover;
        background-repeat: no-repeat;
        height: 800px;
    }
}

@media (max-width: 1366px){
    .multi-section_deco {
        width: 83%;
        top: -100px;
    }
    .play-wrp {
        left: 48%;
    }
    .video-block {
        padding-top: 75px;
    }
}
@media (max-width: 1280px){
    .play-wrp {
        left: 45%;
    }
    .multi-section_deco {
        width: 88%;
    }
    .block-mission img {
        max-width: 100%;
        height: auto;
    }
    video-block {
        padding-top: 60px;
    }
}
@media (max-width: 1024px){
    .video-block {
        padding-top: 0;
    }
    .slider-first-block .slick-slide img {
        height: 600px;
        object-fit: cover;
    }
    .slider-first-block-wrp_decore {
        bottom: -60px;
    }
    .slider-about .slick-arrow {
        right: 22px;
    }
    .video-block__item {
        padding-top: 115px;
    }
    .video-block-text {
        height: 580px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .about-video-wrp {
        height: 650px;
        top: 2%;
        right: -160px;
        width: 650px;
    }
    .play-wrp {
        left: 47%;
        top: 34%;
    }
    .block-mission_p {
        padding-top: 0;
    }
    .multi-section_deco {
        width: 88%;
        display: none;
    }
    .block-mission img {
        max-width: 87%;
        height: auto;
    }
    .block-rewiev-wrp {
        margin-top: 0;
        padding-top: 100px;
    }
    .block-rewiev {
        background-repeat: no-repeat;
        background-size: cover;
    }
    .swiper-slide-active .rewiev-slider-item {
        padding: 55px 40px 60px;
    }
    .rewiev-slider-item {
        padding: 50px 40px 60px;
    }
    .multi-section_bird {
        position: absolute;
        left: 0;
        bottom: 30%;
    }
    .video-block__bird {
        top: 15px;
    }
    .slider-about-nav {
        max-width: 350px;
    }
}
@media (max-width: 768px){
    .slider-first-block .slick-slide img {
        height: 768px;
        width: 100%;
    }
    .slider-first-block .slick-next {
        bottom: 20%;
    }
    .slider-first-block-wrp_decore {
        bottom: -46px;
    }
    .why-we__line {
        height: 170px;
    }
    .why-we__line2 {
        height: 70px;
    }
    .why-we_padd {
        padding-bottom: 40px;
    }
    .slider-about .slick-slide img {
        width: 87%;
    }
    .slider-about-nav {
        max-width: 322px;
    }
    .slider-about__text {
        max-width: 480px;
        padding: 30px 33px 30px 20px;
    }
    .slider-about__name {
        font-size: 35px;
        padding-bottom: 15px;
    }
    .slider-about__text-wrp {
        margin-left: 10px;
        padding: 0 0 0px 10px;
    }
    .slider-about .slick-arrow {
        width: 65px;
        height: 65px;
        right: 19px;
    }
    .slider-about .slick-prev {
        bottom: 61%;
    }
    .slider-first-block .slick-arrow {
        width: 65px;
        height: 65px;
    }
    .slider-first-block .slick-next {
        bottom: 22%;
    }
    .slider-first-block-wrp_bird {
        right: -43px;
        bottom: -130px;
        transform: scale(-0.7,0.7);
    }
    .about-video-wrp {
        height: 550px;
        top: 8%;
        right: -205px;
        width: 550px;
    }
    .video-block__text_p {
        margin-left: 20px;
        padding: 0 0 10px 24px;
    }
    .video-block__bird {
        top: 6%;
        right: 28%;
        transform: scale(-0.7,0.7);
    }
    .swiper-slide-active .rewiev-slider-item {
        padding: 35px 25px 40px;
    }
    .rewiev-slider-item {
        padding: 35px 25px 40px;
    }
    .multi-section_bird {
        position: absolute;
        left: -43px;
        bottom: 30%;
        transform: scale(0.7);
    }
}

@media (max-width: 425px){
    .slider-first-block .slick-slide img {
        height: 494px;
    }
    .slider-first-block-wrp_decore {
        bottom: -20px;
    }
    .slider-first-block .slick-arrow {
        width: 50px;
        height: 50px;
    }
    .slider-first-block .slick-prev {
        bottom: 32%;
    }
    .why-we__name {
        font-size: 30px;
    }
    .why-we__name span{
        display: none;
    }

    .why-we__line {
        height: 100%;
    }
    .why-we__item {
        font-size: 14px;
        width: 90%;
        margin: 0 auto 63px;
    }
    .why-we__line2 {
        height: 100%;
    }
    .slider-about .slick-slide img {
        width: 93%;
        margin: 0 auto;
        height: 219px;
        object-fit: cover;
    }
    .slider-about__name {
        font-size: 20px;
    }
    .slider-about__text-wrp {
        line-height: 16px;
        font-size: 10px;
    }
    .slider-about__text {
        max-width: 64%;
    }
    .slider-about .slick-arrow {
        width: 50px;
        height: 50px;
        right: 15px;
    }
    .slider-about .slick-prev {
        bottom: 68%;
    }
    .slider-about-nav {
        max-width: 160px;
    }
    .about-nav__item {
        height: 72px;
        margin: 17px 7px;
    }
    .about-nav__item img {
        height: 72px;
    }
    .slider-about-nav {
        bottom: 23%;
    }
    .slider-about .slick-next {
        bottom: 55%;
    }
    .block-about_padd {
        padding-top: 73px;
    }
    .video-block__name {
        font-size: 20px;
    }
    .video-block__name_p {
        padding-bottom: 18px;
    }
    .video-block-text {
        height: 368px;
    }
    .about-video-wrp {
        height: 333px;
        top: 22%;
        right: -130px;
        width: 333px;
    }
    .play-wrp {
        top: 51%;
        width: 48px;
        height: 48px;
    }
    .play-wrp img{
        max-width: 100%;
        height: auto;
    }
    .video-block__text {
        line-height: 16px;
        font-size: 10px;
    }
    .video-block__text_p {
        margin-left: 10px;
        padding: 0 0 0px 12px;
    }
    .video-block {
        height: 500px;
    }
    .video-block__bird {
        top: 5%;
        right: 7%;
    }
    .block-mission img {
        max-width: 100%;
        height: 160px;
        object-fit: cover;
        width: 100%;
        margin: 0 auto 15px;
    }
    .block-mission-wrp_p {
        padding-bottom: 50px;
    }
    .block-mission_p-img {
        margin-left: 0;
    }
    .block-mission-item__numb {
        left: -25px;
    }
    .block-mission-item {
        line-height: 23px;
        font-size: 14px;
        padding-left: 9px;
    }
    .block-mission-item_r {
        text-align: left;
        border-right: 0;
        border-left: 2px solid #a38b39;
        padding-right: 0;
    }
    .block-mission-item__numb_r {
        left: -25px;
    }
    .block-rewiev-wrp {
        margin-top: 0;
        padding-top: 95px;
    }
    .swiper-slide-active .rewiev-slider-item {
        transform: scale(1);
    }
    .rewiev-slider-item {
        width: 86%;
        margin: 0 auto;
    }
    .block-rewiev-slider .swiper-pagination {
        bottom: 90px;
    }
    .block-rewiev__name_p {
        padding-bottom: 0;
        margin-bottom: -100px;
        position: relative;
        z-index: 9;
        font-size: 30px;
    }
    .block-rewiev-slider_p {
        padding-bottom: 170px;
        padding-top: 250px;
    }
    swiper-slide-active .rewiev-slider-item__name {
        line-height: 31px;
        font-size: 20px;
        padding-bottom: 15px;
    }
    .swiper-slide-active .rewiev-slider-item__text {
        font-size: 10px;
        letter-spacing: 0;
    }
    .block-contact-name {
        font-size: 30px;
    }
    .block-contact-name_p {
        padding-bottom: 30px;
    }
    .block-contact_p {
        padding: 100px 0 200px;
    }
    .block-contact-wrp_deco-t img , .block-contact-wrp_deco-b img {
        max-width: 100%;
        height: auto;
    }
    .block-contact-wrp_deco-t {
        width: 35px;

    }
    .block-contact-wrp_deco-b {
        width: 70px;
    }
    .block-contact-wrp_deco-t {
        position: absolute;
        top: -10px;
        left: 15px;
    }
    .multi-section_bird {
        bottom: 27%;
    }    
    .block-mission__name {
        font-size: 30px;
    }
    .block-mission__name_p {
        padding-bottom: 50px;
    }
    .block-mission__name_p {
        padding-bottom: 50px;
    }
    .block-mission {
        overflow: hidden;
    }
    .why-we__name_padd {
        padding-bottom: 30px;
    }
    .slider-about__text-wrp div, .slider-about__text-wrp p {
        line-height: 16px;
        font-size: 10px;
    }
    .video-block__text p {
        line-height: 16px;
        font-size: 10px;
    }
}
@media (max-width: 375px){
    .slider-about .slick-arrow {
        right: 13px;
    }
    .play-wrp {
        left: 42%;
    }
    .about-video-wrp {
        right: -140px;
    }
}
@media (max-width: 360px){
    .video-block__item {
        padding-top: 90px;
    }
    .about-video-wrp {
        right: -170px;
    }
    .play-wrp {
        left: 48%;
    }
}
@media (max-width: 320px){
    .about-video-wrp {
        right: -189px;
    }
    .video-block__item {
        padding-top: 75px;
    }
    .video-block__bird {
        right: -10%;
    }
    .slider-about__text {
        padding: 15px 15px 15px 10px;
    }
    .slider-about__text {
        max-width: 90%;
        left: 15px;
    }
    .slider-about-nav {
        display: none;
    }
    .slider-about .slick-arrow {
        right: 11px;
    }
    .block-about_padd {
        padding-bottom: 40px;
    }
    .why-we__item {
        margin: 0 auto 30px;
    }
    .block-contact-wrp {
        padding: 40px 36px 50px;
    }
}

// About us

// Page Meal


// Page Meal

@media (min-width: 1441px){
    .meal-slider-item {
        height: 775px;
    }
    .meal-slider-item__img {
        width: 632px;
        height: 100%;
    }
    .meal-slider-item__img img {
        object-fit: cover;
        width: 100%;
    }
    .meal-slider-nav {
        left: 12%;
        max-width: 54%;
    }
    .about-nav-item__name {
        left: 33px;
    }
    .meal-slider .slick-prev {
        bottom: 13.9%;
        border-radius: 0 0 0 7px;
        z-index: 12;
    }
    .meal-slider .slick-next {
        bottom: 22.9%;
    }
}
@media (max-width: 1366px){
    .meal-slider-nav {
        max-width: 58%;
    }
    .meal-slider .slick-arrow, .meal-slider .slick-arrow:focus {
        right: 30.2%;
    }
}
@media (max-width: 1280px){
    .meal-slider-nav {
        max-width: 54%;
    }
    .about-nav-item {
        height: 150px;
    }
    .meal-slider .slick-arrow, .meal-slider .slick-arrow:focus {
        right: 32.2%;
    }
}
@media (max-width: 1024px){
    .meal-slider-item__img {
        width: 368px;
        height: 100%;
    }
    .about-nav-item {
        height: 105px;
    }
    .meal-slider .slick-arrow, .meal-slider .slick-arrow:focus {
        right: 27.7%;
    }
    .meal-slider .slick-prev {
        bottom: 15.6%;
    }
}
@media (max-width: 768px){
    .meal-slider-item {
        height: 430px;
    }
    .meal-slider-item__img {
        width: 268px;
    }
    .meal-slider-item__text {
        margin-left: 40px;
        padding: 3px 0 5px 17px;
    }
    .meal-slider-item__name {
        padding-bottom: 22px;
    }
    .meal-slider-item_h {
        height: 330px;
    }
    .about-nav-item {
        margin: 50px 5px;
    }
    .meal-slider .slick-arrow, .meal-slider .slick-arrow:focus {
        width: 65px;
        height: 65px;
        z-index: 11;
        right: 26.7%;
    }
    .meal-slider-nav {
        max-width: 59%;
        left: 0;
        bottom: 45px;
    }
    .meal-slider .slick-prev {
        bottom: 18.1%;
    }
    .meal-slider .slick-next {
        bottom: 29.9%;
    }
    .meal-slider_p {
        padding-bottom: 95px;
    }
    .about-nav-item__name {
        font-size: 10px;
    }
    .meal-eco-prod_p {
        padding: 53px 0 70px;
    }
    .meal-eco-prod__quote {
        width: 224px;
    }
    .meal-eco-prod__img img {
        height: 400px;
        object-fit: cover;
    }
    .meal-eco-prod__text{
        position: relative;
        padding-left: 27px;
        margin-left: 30px;
    }
    .meal-eco-prod__text:before {
        content: '';
        position: absolute;
        left: 0;
        width: 2px;
        height: 100%;
        background: #a38b39;
        border-radius: 4px;
    }
    .meal-about-m__img, .meal-about-m__wrp{
        width: 49%;
        display: inline-block;
    }
    .meal-about-m__wrp{
        padding-left: 32px;
        vertical-align: middle;
    }
    .meal-about-m {
        padding-left: 0;
    }
    .meal-about-m__text {
        margin-left: 0;
        padding-left: 0;
    }
    .meal-about-m__text:before {
        display: none;
    }
    .meal-about-m__img img {
        height: 400px;
        object-fit: cover;
    }
    .meal-about-s__text {
        height: auto;
    }
    .meal-about-s__title {
        padding-bottom: 4px;
    }
    .meal-sign-up__name{
        text-align: center;
        padding-bottom: 5px;
    }
    .meal-sign-up__text{
        text-align: center;
        padding-bottom: 40px;
        padding-left: 0;
    }
    .meal-about-s__img {
        padding-bottom: 50px;
    }
    .meal-about_p {
        padding-top: 90px;
        padding-bottom: 40px;
    }
}

@media (max-width: 480px){
    .meal-slider-item {
        height: 100%;
    }
    .meal-slider-item__img {
        height: 306px;
        width: 100%;
    }
    .meal-slider-nav {
        max-width: 92%;
        bottom: 31%;
    }
    .meal-slider-item_h {
        height: 100%;
        margin-top: 420px;
    }
    .meal-slider-item__name {
        font-size: 30px;
    }
    .meal-slider-item__text {
        line-height: 20px;
        font-size: 14px;
    }
    .about-nav-item {
        height: 80px;
    }
    .about-nav-item__name {
        left: 10px;
        bottom: 5px;
        font-size: 8px;
    }
    .meal-slider .slick-arrow, .meal-slider .slick-arrow:focus {
        right: 0;
        box-shadow: none;
    }
    .meal-slider .slick-prev {
        bottom: 53%;
    }
    .meal-slider .slick-next {
        bottom: 60%;
        border-radius: 7px 0 0 0;
    }
    .slick-arrow img {
        transform: scale(0.7);
    }
    .meal-slider_p {
        padding-bottom: 48px;
    }
    .meal-eco-prod__quote {
        width: 224px;
        margin: 0 auto;
        text-align: center;
    }
    .meal-eco-prod__quote:before {
        left: 0;
    }
    .meal-eco-prod__quote {
        padding-bottom: 38px;
    }
    .meal-eco-prod__img img {
        height: 175px;
        width: 100%;
    }
    .meal-eco-prod__title {
        font-size: 30px;
    }
    .meal-eco-prod__text {
        line-height: 20px;
        font-size: 14px;
    }
    .meal-eco-prod_p {
        padding: 41px 0 70px;
    }
    .meal-about-m__img img {
        height: 308px;
        width: 100%;
    }
    .meal-about-m__img, .meal-about-m__wrp {
        width: 100%;
    }
    .meal-about-m__img {
        padding-bottom: 20px;
    }
    .meal-about-m__title_p {
        padding-bottom: 20px;
    }
    .meal-about-m__title {
        font-size: 30px;
    }
    .meal-about-m__wrp {
        padding-left: 0;
    }
    .meal-about-m__text {
        line-height: 16px;
        font-size: 10px;
        margin-left: 30px;
        width: 80%;
        padding-bottom: 50px;
    }
    .meal-about-s__title {
        font-size: 20px;
        padding-bottom: 20px;
    }
    .meal-about-s__text {
        line-height: 16px;
        font-size: 10px;
    }
    .meal-about-s__img {
        padding-bottom: 40px;
    }
    .meal-about-s__title_l{
        text-align: right;
    }
    .meal-about-s__text_l{
        text-align: right;
    }
    .meal-about-s__img img {
        height: 150px;
        width: 100%;
    }
    .meal-sign-up__name {
        font-size: 30px;
    }
    .meal-sign-up__text {
        line-height: 16px;
        font-size: 10px;
        margin-right: 0;
        padding-bottom: 30px;
    }
    .form-input.meal-sign-up_w-33 {
        width: 195px;
        margin-right: 0;
        display: block;
        margin: 0 auto 10px;
    }
    .form-input-submit.meal-sign-up_w-33 {
        width: 195px;
        margin: 5px auto 0;
        display: block;
    }
    .meal-slider .slick-arrow, .meal-slider .slick-arrow:focus {
        width: 50px;
        height: 50px;
    }
    .meal-about_p {
        padding-top: 46px;
    }
}
@media (max-width: 375px){
    .meal-slider .slick-prev {
        bottom: 53%;
    }
    .meal-slider .slick-next {
        bottom: 60%;
    }
}
@media (max-width: 320px){
    .meal-about-s__title {
        font-size: 18px;
    }
    .about-nav-item {
        height: 70px;
    }
    .meal-slider-nav {
        bottom: 37%;
    }
    .meal-slider-item_h {
        margin-top: 400px;
    }
    .meal-slider .slick-arrow, .meal-slider .slick-arrow:focus {
        width: 50px;
        height: 50px;
    }
    .meal-slider .slick-prev {
        bottom: 55.8%;
    }
    .meal-slider .slick-next {
        bottom: 62.8%;
    }
    .meal-about-m__title {
        font-size: 28px;
    }
}

// Page Meal

// Schedule

@media(min-width: 1441px){
    .schedule-wrp__line {
        left: 15%;
    }
}
@media(max-width: 1366px){
    .schedule-wrp__line {
        left: 2%;
    }
    .extra-lessons__bird {
        top: 10%;
        transform: scale(0.7);
        left: -4%;
    }
}
@media(max-width: 1280px){
    .schedule-wrp__line img {
        height: 100%;
    }
}
@media(max-width: 1280px){
    .schedule-wrp__line img {
        height: 100%;
    }
}
@media(max-width: 1024px){
    .schedule-wrp__line {
        top: 7.8%;
    }
    .extra-lessons-item {
        padding: 48px 70px 38px;
    }
    .schedule-name_p {
        padding-bottom: 50px;
    }
    .extra-lessons__bird {
        top: 5%;
        transform: scale(.7);
        left: -4%;
    }
}
@media(max-width: 768px){
    .schedule-wrp__line_d{
        display: none;
    }
    .schedule-wrp__line_m{
        display: block;
    }
    .schedule-wrp__line {
        left: 6%;
        top: 6.5%;
    }
    .extra-lessons__bird {
        display: none;
    }
    .extra-lessons-item {
        padding: 48px 115px 38px;
    }
    .extra-lessons-item {
        width: 75%;
        margin: 0 auto 40px;
    }
    .schedule_p {
        padding: 96px 0 90px;
    }
}
@media(max-width: 480px){
    .schedule_p {
        padding: 58px 0 70px;
    }
    .schedule-name_p {
        padding-bottom: 40px;
    }
    .schedule-name {
        font-size: 30px;
    }
    .schedule-item {
        position: relative;
        width: 140px;
        display: block;
        text-align: center;
        padding: 15px 0 12px;
        margin: 0 0 38px;
        font-size: 16px;
    }
    .schedule-item-wrp_r {
        left: 100%;
        right: 0;
    }
    .schedule-item-wrp_r .schedule-item__arr {
        right: auto;
        left: 0;
        transform: scale(1, -1);
    }
    .schedule-item-wrp_r .schedule-item__text {
        left: 46px;
        right: auto;
        width: 170px;
        text-align: left;
    }
    .schedule-item-wrp_l .schedule-item__text {
        width: 170px;
    }
    .schedule-wrp__line {
        display: none;
    }
    .extra-lessons_p {
        padding: 35px 0 65px;
    }
    .extra-lessons-item {
        width: 80%;
        margin: 0 auto 30px;
    }
    .extra-lessons-item {
        padding: 42px 0px 29px;
    }
    .schedule-contact_p {
        padding-top: 60px;
    }
}
@media (max-width:360px){
    .schedule-item-wrp_l .schedule-item__arr {
        left: -20px;
        z-index: -1;
    }
    .schedule-item-wrp_r .schedule-item__arr {
        left: -20px;
        z-index: -1;
    }
    .schedule-item-wrp_l .schedule-item__text {
        left: 30px;
    }
    .schedule-item-wrp_r .schedule-item__text {
        left: 30px;
    }
}
@media (max-width:320px){
    .schedule-item {
        width: 100px;
        font-size: 14px;
    }
    .schedule-item-wrp_r .schedule-item__text {
        width: 166px;
        font-size: 14px;
    }
    .schedule-item-wrp_l .schedule-item__text {
        width: 166px;
        font-size: 14px;
    }
    schedule-item {
        padding: 11px 0 8px;
        margin: 0 0 28px;
    }
}

// Schedule


// Coast

@media (max-width:1024px){
    .servises-item {
        width: 94%;
    }
}
@media (max-width:768px){
    .servises-item {
        width: 100%;
    }
    .servises-item__name {
        line-height: 25px;
        padding-bottom: 30px;
    }
    .servises-item__text p {
        line-height: 32px;
    }
    .servises-item_p {
        padding: 40px 40px;
    }
    .extra-yoga__img img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        object-position: 0 0;
    }
    .extra-yoga__img {
        padding-bottom: 50px;
    }
    .extra-yoga__name {
        text-align: center;
        width: 200%;
    }
    .extra-yoga__btn {
        margin-top: 40px;
        margin-left: 0;
        margin-right: -125px;
        float: right;
    }
    .servises__bird {
        position: absolute;
        right: -6%;
        bottom: -8%;
        transform: scale(-0.7,0.7);
    }
    // .extra-yoga__text-2 {
    //     margin-top: 0;
    // }
    .extra-yoga-item:nth-child(2n+1){

        .col-md-12{
            order: 0 !important;
        }
    }
}

@media (max-width:425px){
    .servises-item {
        height: 100%;
        width: 100%;
        
    }
    .servises [class*="col"]{
        margin-bottom: 30px;
    }
    .servises-item_p {
        padding: 40px 20px;
    }
    .servises-item__btn {
        position: static;
    }
    .servises-item__text {
        padding-bottom: 40px;
    }
    .servises-name {
        font-size: 30px;
    }
    .servises_p {
        padding: 95px 0;
    }
    .servises-name_p {
        padding-bottom: 40px;
    }
    .servises-item__name {
        line-height: 38px;
        font-size: 24px;
    }
    .servises-item__text p {
        font-size: 14px;
        line-height: 29px;
    }
    .servises__bird {
        bottom: 1%;
        right: -10%;
    }
    .extra-yoga__text , .extra-yoga__text p{
        margin-left: 0;
        line-height: 16px;
        font-size: 10px;
    }
    .extra-yoga__text-2 , .extra-yoga__text-2 p{
        margin-top: -37px;
        line-height: 16px;
        font-size: 10px;
    }
    .extra-yoga__name {
        line-height: 28px;
        font-size: 18px;
        padding-bottom: 20px;
    }
    .extra-yoga__img img {
        height: 322px;
    }
    .extra-servises_p {
        padding: 0 0 178px;
    }
    .extra-yoga__img img {
        object-position: 50% 0;
    }
    .extra-yoga__img {
        padding-bottom: 42px;
    }
    .extra-yoga__btn {
        margin-right: -115px;
    }
    .extra-yoga__name {
        width: 220%;
    }
}

// Coast

// News

@media (max-width:1024px){
    .birthday-item__text-wrp {
        padding: 41px 30px 58px 20px;
    }
    .birthday-item__name {
        padding-bottom: 18px;
    }
    // .calender-bg {
    //     height: 335px;
    // }
    .event-slider-wrp__tree{
        display: none;
    }
    .event-slider-wrp__bird{
        display: none;
    }
    .event-slider-wrp__tree2{
        display: none;
    }
    #calender .ecwd-page-full table.cal_blue.ecwd_calendar_container .has-events:after {
        display: none;
    }
    #calender .calendar_main .ecwd_calendar.ecwd-page-full div.event-details {
        font-size: 1.15em !important;
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 0;
        background: #fff;
        border-radius: 7px;
        padding: 20px 15px;
        text-align: center;
    }
}
@media (max-width:768px){
    .birthday-item {
        width: 85%;
        margin: 0 auto 40px;
    }
    .news-bg {
        height: 884px;
    }
    .news-bg img {
        object-position: 0;
    }
    .birthday-item__name {
        padding-bottom: 38px;
    }
    .birthday-item__text-wrp {
        padding: 41px 84px 58px 36px;
    }
    .birthday_p {
        padding: 80px 0 60px;
    }
    .event-slide__img img {
        object-fit: cover;
        object-position: 0;
        width: 100%;
        height: 400px;
    }
    // .calender-bg {
    //     height: 398px;
    // }
    .calender-bg__title {
        display: none;
    }
}
@media (max-width:425px){
    .news-bg {
        height: 573px;
    }
    .news-bg__name {
        bottom: 35%;
        line-height: 38px;
        font-size: 24px;
    }
    .news-name {
        font-size: 30px;
    }
    .news-name_p {
        padding-bottom: 40px;
    }
    .birthday-item__img {
        height: 100%;
    }
    .birthday-item__title {
        font-size: 18px;
    }
    .birthday-item__name {
        line-height: 28px;
        font-size: 18px;
        padding-bottom: 15px;
    }
    .birthday-item__text , .birthday-item__text p{
        line-height: 16px;
        font-size: 10px;
    }
    .birthday-item__text-wrp {
        padding: 26px 20px 27px 13px;
    }
    .birthday-item {
        width: 100%;
    }
    .event-slide {
        padding: 70px 0 50px;
    }
    .event-slide__text-wrp {
        padding: 40px 10px 50px;
        margin-right: 0;
        width: 80%;
        margin: -39px auto 0;
        background-color: #fff;
    }
    .event-slide .col-12:nth-child(1) {
        order: 1;
        z-index: 111;
    }
    .event-slide__img img {
        height: 327px;
    }
    .event-slide__name, .event-slide__title {
        line-height: 28px;
        font-size: 18px;
    }
    .event-slide__text {
        padding-top: 20px;
    }
    .event-slide__text, .event-slide__text p {
        line-height: 16px;
        font-size: 10px;
    }
    .event-slider-wrp_p {
        padding: 50px 0 100px;
    }
    .event-slider .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
    }
    // .calender-bg {
    //     height: 100%;
    // }
    .calender-wrp_p {
        padding-bottom: 168px;
    }
}

// News


// Gallery

@media (max-width:1024px){
    // .gallery-content img {
    //     height: 215px;
    // }
    // .envira-gallery-wrap * {
    //     height: 215px !important;
    // }
    .nav-tabs {
        margin-left: -3%;
        margin-right: -3%;
    }
    .gallery-slider .slick-arrow {
        width: 65px;
        height: 65px;
    }
}
@media (max-width:768px){
    .nav-tabs {
        margin-left: -3%;
        margin-right: -3%;
    }
    .gallery-item {
        height: 884px;
    }
    .gallery-slider .slick-prev {
        bottom: 29%;
    }
    .nav-link {
        width: 160px;
        font-size: 16px;
    }
    .nav-tabs {
        margin-left: -2%;
        margin-right: -2%;
    }
}
@media (max-width:425px){
    .gallery-item {
        height: 573px;
    }
    .gallery-title {
        line-height: 31px;
        font-size: 30px;
    }
    .gallery-title_p {
        padding-bottom: 40px;
    }
    .gallery_p {
        padding: 90px 0 234px;
    }
    // .envira-gallery-wrap * {
    //     height: 101px !important;
    // }
    .gallery-content img {
        height: 101px;
        margin-bottom: 15px;
    }
    .nav-link {
        width: auto;
        font-size: 14px;
        padding: 0 0;
    }
    .nav-tabs .nav-link.active {
        color: #333;
        background-color: transparent;
        border-color: none;
    }
    .nav-link.active .gallery-arr svg{
        width: 10px;
    }
    .nav-link.active .gallery-arr path {
        stroke: #6ba43a;
    }
    .nav-tabs .nav-link.active {
        color: #6ba43a;
        margin-top: -2px;
    }
    .nav-link {
        background: transparent;
    }
    .gallery-content {
        padding-top: 40px;
    }
    .nav-item {
        width: auto;
        padding: 0 10px;
    }
}
@media (max-width:360px){
    .nav-item {
        padding: 0 8px;
    }
}
@media (max-width:320px){
    .nav-item {
        padding: 0 4px;
    }
    // .gallery-content img {
    //     height: 80px;
    // }
    // .envira-gallery-wrap * {
    //     height: 80px !important;
    // }
    .gallery_p {
        padding: 90px 0 180px;
    }
}


// Gallery


// Sign-up

@media (max-width:1024px){
    .signup-form-wrp {
        background: #fff8f1;
        border: 1px solid #a38b39;
        box-sizing: border-box;
        box-shadow: 30px 30px 80px rgba(0,0,0,.06);
        border-radius: 7px;
        padding: 60px 31px 69px 36px;
    }
    .signup-form__bird {
        display: none;
    }
    .form-input.signup-form-33 {
        margin-right: 17px;
        margin-bottom: 30px;
    }
    .signup-form-item_p {
        padding-bottom: 30px;
    }
    .form-input.form-input-textarea{
        width: 97%;
    }
    .signup-bg {
        height: 884px;
    }
}
@media (max-width:425px){
    .signup-bg {
        height: 573px;
    }
    .signup-form-title {
        line-height: 31px;
        font-size: 30px;
    }
    .signup-form-title_p {
        padding-bottom: 40px;
    }
    .signup-form-item-title {
        line-height: 28px;
        font-size: 18px;
    }
    .form-input.signup-form-33 {
        margin-right: 0;
        margin-bottom: 15px;
        width: 195px;
    }
    .form-input.form-input-textarea {
        width: 195px;
    }
    .form-input.form-input-textarea {
        width: 195px;
        padding-top: 13px;
    }
    .form-input-submit.signup-form {
        width: 195px;
    }
    .signup-form__checkbox {
        width: 195px;
    }
    .form-input-checkbox {
        margin-bottom: 24px;
        float: left;
    }
    .signup-form_p {
        padding: 45px 0 183px;
    }
}
@media (max-width: 425px){
    .signup-form-title {
        font-size: 24px;
    }
}

// Sign-up

// Contact 

@media (min-width: 1441px){
    #intergeo_mapwIjM {
        height: 543px !important;
    }
    
}
@media (max-width: 768px){
    .contact-info-text {
        padding-bottom: 45px;
    }
    .contact-info-item_p{
        padding-top: 40px;
    }
    .contact-info-item__title {
        font-size: 36px;
    }
    .contact-info-item__text {
        line-height: 25px;
        font-size: 14px;
        padding-left: 10px;
    }
    .contact-info-item_p {
        padding-top: 71px;
    }
    .contact-info-ico {
        padding-bottom: 0px;
        height: 45px;
    }  
    .contact-info-item__bird {
        top: -21%;
        left: 14%;
    }  
    .map {
        height: 682px;
    }
}
@media (max-width: 425px){
    // .map {
    //     height: 573px;
    // }
    #intergeo_mapwIjM {
        height: 573px !important;
    }
    .contact-info-item__text {
        margin-left: 40px;
        width: 80%;
        line-height: 16px;
        font-size: 10px;
    }
    .contact-info-item__bird img {
        transform: scale(0.7);
    }
    .contact-info-item__bird {
        top: -50%;
        left: -8%;
    }
    .contact-info-text, .contact-info-text a, .contact-info-text div, .contact-info-text span {
        line-height: 16px;
        font-size: 10px;
    }
    .contact-info-item_p {
        padding-top: 55px;
    }
    .contact-info_p {
        padding: 60px 0 170px;
    }
}

// Contact 


// Account

@media (max-width: 1440px){
    .account_p {
        padding-bottom: 374px;
    }
    .account-bird {
        right: 15%;
    }
    .account-tree {
        bottom: 10%;
    }
}
@media (max-width: 1024px){
    .account-tree {
        display: none;
    }
    .account-bird {
        right: 5%;
    }
    .account-item {
        padding: 68px 70px;
    }
    .account-item {
        padding: 68px 70px;
    }
    .bill-wrp {
        padding: 57px 25px 100px;
    }
    
}
@media (max-width: 768px){
    .account-item {
        margin: 0 auto 30px;
        width: 80%;
    }
    .account_p {
        padding-top: 80px;
        padding-bottom: 183px;
    }
    .account__title_p-video{
        padding-bottom: 66px;
    }
    .video-cam {
        padding: 56px 0;
    }
    .video-traslation_p {
        padding: 90px 0 140px;
    }
    .account__title_bill-p {
        padding-bottom: 38px;
    }
}
@media (max-width: 425px){
    .account__title {
        line-height: 31px;
        font-size: 30px;
        padding-bottom: 25px;
    }
    .account-item__title {
        line-height: 21px;
        font-size: 20px;
        padding-bottom: 15px;
    }
    .account-item {
        padding: 37px 38px;
    }
    .account-item__text {
        line-height: 16px;
        font-size: 10px;
        padding-bottom: 15px;
    }
    .account-item {
        margin: 0 auto 15px;
        width: 90%;
    }
    .account {
        min-height: auto;
    }
    .account-bird {
        z-index: 111111;
        right: 3%;
    }
    .video-traslation-item {
        margin: 0 0 20px;
    }
    .video-traslation-item img {
        border-radius: 7px;
        max-width: 100%;
        height: auto;
    }  
    .account__title_p-video{
        padding-bottom: 57px;
    }  
    .video-traslation_p {
        padding: 70px 0 140px;
    }
    .bill__title {
        line-height: 15px;
        font-size: 10px;
    }
    .bill__text {
        line-height: 13px;
        font-size: 10px;
        display: block;
        text-align: center;
        padding-right: 0;
        padding-bottom: 10px;
    }
    .bill__number {
        box-shadow: 0 10px 20px rgba(0,0,0,.05);
        line-height: 11px;
        font-size: 10px;
        padding: 12px 0 11px;
        display: block;
        margin: 0 auto 6px;
        width: 86px;
        text-align: center;
    }
    .account__title {
        padding-bottom: 55px;
    }
}
@media (max-width: 425px){
    .bill__item {
        width: 100%;
    }
}

// Account

// Team 

@media (max-width: 1024px){
    .team-people-wrp {
        margin: 0 0;
    }
    .team-people_p {
        padding: 127px 0 100px;
    }
}
@media (max-width: 768px){
    .team-first-block {
        position: relative;
        height: 884px;
    }
    .team-people-wrp {
        margin: 0 35px;
    }
    .team-part-title {
        width: 80%;
        margin: 0 auto;
    }
    .team-part_hidden-tab{
        display: none;
    }
    .team-part img {
        height: 400px;
    }
    .team-part-item {
        padding: 0;
    }
    .team-part-item__title {
        font-size: 30px;
        padding-bottom: 26px;
        padding-top: 33px;
        text-align: left;
    }
    .team-part-item__text {
        text-align: left;
        padding-bottom: 50px;
    }
    .team-part-item__btn {
        width: 260px;
        margin: 0;
    }
    .team-first-block-text__text {
        padding-bottom: 40px;
    }
}
@media (max-width: 425px){
    .team-first-block {
        position: relative;
        height: 573px;
    }
    .team-first-block-text__title {
        line-height: 38px;
        font-size: 24px;
        padding-bottom: 10px;
    }
    .team-first-block-text__text {
        padding-bottom: 30px;
        line-height: 19px;
        font-size: 14px;
        width: 85%;
        margin: 0 auto;
    }
    .team-people_p {
        padding: 70px 0 50px;
    }
    .team-people-wrp {
        margin: 0;
        padding-bottom: 63px;
    }
    .team-people-wrp img {
        height: 200px;
    }
    .team-people-wrp__name {
        font-family: Futura-Bold;
        line-height: 19px;
        font-size: 12px;
        padding: 18px 0 14px;
    }
    .team-people-wrp__job {
        line-height: 16px;
        font-size: 10px;
        margin-bottom: 18px;
    }
    .team-people-wrp__job  p{
        line-height: 16px;
        font-size: 10px;
    }
    .team-part_p {
        padding: 40px 0 190px;
    }
    .team-part-title {
        width: 100%;
        margin: 0 auto;
        font-size: 30px;
        padding-bottom: 40px;
    }
    .team-part img {
        height: 224px;
    }
    .team-part-item__title {
        font-size: 24px;
        text-align: center;
    }
    .team-part-item__text {
        line-height: 16px;
        font-size: 10px;
        text-align: center;
        padding-bottom: 40px;
        width: 85%;
        margin: 0 auto;
    }
    .team-part-item__btn {
        width: 200px;
        margin: 0 auto;
    }
    .team-first-block-text {
        width: auto;
    }
}

// Team 