@font-face {
  font-family: Futura;
  src: url("../../font/FUTURAFUTURISC.TTF");
}
@font-face {
  font-family: Futura-Light;
  src: url("../../font/FUTURAFUTURISLIGHTC.TTF");
}
@font-face {
  font-family: Futura-Bold;
  src: url("../../font/FUTURAFUTURISC-BOLD.TTF");
}


html, body, div, span, p, header, footer, section, h1, h2, h3, h4, h5, h6, ul, li, form, input, textarea, button, ol  {
    font-family: Futura;
    color: $dark-grey;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    border: 0;
}
body{
  background: #fff;
  position: relative;
}
a , a:hover ,a:focus{
  text-decoration: none;
  outline: none;
}
.disable-scroll {
    overflow: hidden;
    max-height: 100vh;
    position: fixed;
    width: 100%;
}

.align-center{
  text-align: center;
}
.align-right{
  text-align: right;
}