// All modal windows

.main-cont , .sub-cont{
    display: block;
}
.main-cont.hidden , .sub-cont.hidden{
    display: none;
}

.form-pop-dialog {
    max-width: 644px;
    width: 100%;
}
.form-modal-content {
    position: relative;
    padding: 90px 102px;
    border: 0;
    border-radius: 9px;
    background: #FAFAFA;
}
.form-close ,.form-close:focus , .form-close:visited {
    position: absolute;
    right: 27px;
    top: 27px;
    cursor: pointer;
    outline: none;
    background: transparent;
}
.form-close img {
    transition: 500ms;
    -webkit-transition: 500ms;
    filter: grayscale(100%); 
    outline: none;
}
.form-close:hover img{
    transform: scale(1.2);
    filter: grayscale(0%); 
}
.form-modal__name{
    font-family: Futura-Bold;
    display: block;
    line-height: 47px;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000000;
}
.form-modal__name_padd{
    padding-bottom: 50px;
}
.form-modal__name_padd-s{
    padding-bottom: 15px;
}
.form-modal__name-small{
    font-family: Futura-Light;
    line-height: 23px;
    font-size: 16px;
    text-align: center;
    color: #000000;
}
.form-input{
    width: 100%;
    padding: 19px 27px;
    background-color: #fff;
    line-height: 16px;
    font-size: 15px;
    letter-spacing: 0.05em;
    color: #333333;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    margin-bottom: 25px;
}
.form-input:focus{
    border: 1px solid $primary-color;
}
.form-input-submit{
    width: 100%;
}

.forget-pass {
    content: 'Forgot your password ?';
    display: block;
    position: relative;
    font-family: Futura-Light;
    line-height: 15px;
    font-size: 10px;
    color: #828282;
    left: 27px;
    top: -20px;
    cursor: pointer;
}


// All modal windows
